<section id="hero">
  <div class="background" data-type="background" data-speed="5"></div>
  <div class="content">
    <h1>Matt Eichsteadt</h1>
    <h3>Full Stack Problem Solver</h3>
    <div class="icons">
      <a href="https://linkedin.com/in/matteichsteadt" target="_blank"><i class="fa fa-fw fa-2x fa-linkedin-square"></i></a>
      <a href="https://github.com/meichsteadt" target="_blank"><i class="fa fa-fw fa-2x fa-github"></i></a>
      <a href="mailto:matteichsteadt@gmail.com" target="_blank"><i class="fa fa-fw fa-2x fa-envelope"></i></a>
    </div>
    <div class="links">
      <h4><%= link_to 'About', about_index_path%> | <%= link_to 'Repos', repos_path %></h4>
    </div>
  </div>
</section>
