<%= link_to 'Go back', root_path %>
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-center">Matticulous Work</h2>
        <p><span class="indent"></span>I started programming on my own with basic HTML and CSS. After a while my entrepreneurial side came out, and I started by own business designing sites for some businesses I was already working with. I really liked the work I was doing, and it gave me a glimpse of an entire world of technology that I knew nothing about. So, I packed up my things, moved to Oregon and enrolled at Epicodus, one of the premiere programming schools in Portland.</p>

        <p><span class="indent"></span>Despite the sometime 70 hour weeks, I loved my time at Epipcodus, and my skills as a developer grew exponentially. Primarily focusing on Angular JS, Ruby on Rails, and Design, I got to build some really cool things; from a text-based hipster adventure game to a developer networking site.</p>
        <p><span class="indent">Ideally, I'd love to combine my skills as a developer with my background and education is sales/marketing and really leverage my entire skillset to help small businesses and non-profits.</span></p>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">The Man Behind the Code</h2>
        <img class="img-responsive" src="https://pbs.twimg.com/profile_images/788258721281421312/vy0CfcOd.jpg" alt="">
          <p>I firmly believe in working hard and playing hard. When I'm not programming I am doing a ton of other things. Top hobbies include reading at hipster-looking coffee shops, playing video games, going to the gym and lifting heavy things, and playing music. I'm deeply passionate about politics and economic-empowerment.</p>
          <p>I love thinking of new ideas and trying to start new companies when I have the time. Recently, a friend and I started our own <a href="https://isticapparel.com" target="_blank">pun-based apparel company</a>, which has been a blast to run.</p>
          <p>If you want to get in contact with me, there's some cool links towards the top of the page or feel free to email me at <a href="mailto:matteichsteadt@gmail.com">matteichsteadt@gmail.com</a></p>
      </div>
    </div>
  </div>
</section>
